
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Dodaj uzytkownika","CreateUser","Admin")</li>
    <li>@Html.ActionLink("Dodaj role","CreaterRole ","Admin")</li>
</ul>